webhook: []

# Templates:
# %<fn>                  - Filename
# %<platform>            - platform (like mac)
# %<client_type>         - Type of client (studio, client)
# %<version>             - Downloaded version (0.2.22)
# %<content_disposition> - Original Halo destined filename
# %<md5>                 - md5 sum of the file

retries:
  timeout: 20
  increment: 20
  tries: 3

clients: [
  "windows",
  "mac",
  "linux"
]

vortex:
  api:
    url: "https://playvortex.io"
    session_token: ""

    client:
      version: "/api/client-version"
      download_url: "/download/%<platform>"

    studio:
      version: "/api/studio-version"
      download_url: "/releases-studio/VortexStudio-%<platform>"

destination:
  saving:
    path: "archive/%client_type/%<platform>/%<fn>"
    filename: "%<md5>.%<client_type>.%<version>.%<content-disposition>"

  download:
    enable_downloads: false
    url:              "https://example.com"

    client: "/download/%<platform>/%<fn>"
    studio: "/download/studio-%<platform>/%<fn>"