webhook: []

# Templates:
# %fn                  - Filename
# %platform            - Platform (like macOS)
# %client_type         - Type of client (studio, client)
# %version             - Downloaded version (0.2.22)
# %content_disposition - Original Halo destined filename
# %md5                 - md5 sum of the file

retries:
  timeout: 20
  increment: 20
  tries: 3

vortex:
  api:
    url: "https://playvortex.io"
    session_token: ""

    client:
      version: "/api/client-version"
      icon: ""
      download_urls: [
        ["Windows", "/download/windows"],
        ["macOS",   "/download/mac"    ],
        ["Linux",   "/download/linux"  ]
      ]

    studio:
      version: "/api/studio-version"
      icon: ""
      download_urls: [
        ["Windows", "/download/studio-windows"],
        ["macOS",   "/download/studio-mac"    ],
        ["Linux",   "/download/studio-linux"  ]
      ]

destination:
  saving:
    path: "archive/%client_type/%platform/%fn"
    filename: "%md5.%client_type.%version.%content-disposition"



  download:
    enable_downloads: false
    url:              "https://example.com"

    client: [
      ["Windows", "/download/windows/%fn"],
      ["macOS",   "/download/mac/%fn"    ],
      ["Linux",   "/download/linux/%fn"  ]
    ]
    studio: [
      ["Windows", "/download/studio-windows/%fn"],
      ["macOS",   "/download/studio-mac/%fn"    ],
      ["Linux",   "/download/studio-linux/%fn"  ]
    ]